Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build
Content/AdvancedLocomotionV4/
Content/Maps/
Content/_Main/Audios/
Content/_Main/CharacterAsset/
Content/_Main/FX/
Content/_Main/Meshes/
Content/_Main/UIAsset/